* {
  background-color: #e5e5e5;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.logo {
  padding-top: 25px;
  margin-left: 7%;
  width: 3%;
}

main {
  display: flex;
  width: 100%;
}

.right-pannel {
  display: flexbox;
  width: 70%;
  height: 600px;
  background-color: #e5e5e5;
}

.text-area {
  border: none;
  color: #0a3871;
  margin-top: 35px;
  margin-left: 15%;
  text-transform: lowercase;
}

::placeholder {
  color: #0a3871;
}

.text-area:focus {
  outline: none;
}

.left-pannel {
  width: 30%;
  height: 600px;
  background-color: #e5e5e5;
}

.mensajes {
  border: 1px solid #0a3871;
  background-color: white;
  border-radius: 24px;
  color: #0a3871;
  margin-top: 20px;
  margin-left: 7px;
  position: absolute;
  width: 370px;
  height: 600px;
}

.mensaje {
  background-image: url("./img/buscador.png");
  background-position: center center;
  background-size: 295px 266px;
  background-repeat: no-repeat;
  background-color: white;
  margin-top: 30px;
  margin-left: 22px;
  border: none;
  color: #0a3871;
}

.mensaje:focus {
  outline: none;
}

.ningun-mensaje {
  width: 345px;
  font-size: 18px;
  color: #0a3871;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 20px;
  background-color: white;
  position: absolute;
  display: block;
  text-align: center;
}

.ingrese-texto {
  width: 320px;
  font-size: 12px;
  color: #0a3871;
  margin-top: 40px;
  margin-left: 30px;
  position: absolute;
  display: block;
  background-color: white;
}

.botones {
  display: flex;
  margin-top: 200px;
}

.btn-encriptar {
  background-color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  height: 60px;
  width: 300px;
  margin-left: 5%;
}

.btn-desencriptar {
  background-color: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 60px;
  margin-left: 30px;
  width: 300px;
}

.btn-copiar {
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 60px;
  margin-left: 25px;
  margin-top: 402px;
  position: absolute;
  width: 300px;
  display: none; /* cambiar a flex para que se vea*/
  margin-top: 516px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.informacion {
  color: #495057;
  font-size: 14px;
  margin-left: 8%;
  margin-top: 150px;
  position: absolute;
}

#foot {
  font-size: 12px;
  color: #0a3871;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
  text-align: right;
}

.logos {
  height: 25px;
  width: 25px;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}
